
@{
    ViewBag.Title = "CountryMaster";
}

<h2>CountryMaster</h2>

<table>
    <tr>
        <td>Country Code </td>
        <td><input type="text" id="textCountryCode" maxlength="10" /></td>
    </tr>
    <tr>
        <td>Country Name </td>
        <td><input type="text" id="textCountryName" maxlength="50" /></td>
    </tr>
    <tr><td></td><td><button type="submit" id="btnSave">Save</button></td></tr>
</table>

<div id="dvGrid"></div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Script/CountryMaster.js"></script>
}

